<!DOCTYPE html>
<html>

<head>
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="/components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/semantic/dist/semantic.min.js"></script>

</head>

<body>

    <h1 class="ui center aligned icon header">
        <i class="code icon"></i>
        <div class="content">
            {{ title }}
            <div class="sub header">
                Example Application
            </div>
        </div>
    </h1>

    <div class="ui container">
        <p>
            Welcome to {{ title }}
        </p>
        <a class="ui primary button">Hello</a>

        <ul>
            {{#each topics as |topic|}}
            <li>
                <a href="topics/{{topic._id}}">{{topic.name}}</a>
                <span class="ui label">{{topic.articles.length}}</span>
            </li>
            {{/each}}
        </ul>
    </div>

</body>

</html>
